*{
    box-sizing: border-box;
}

body {
    background-image: url("images/main-wallpaper.jpg");
    height: auto;
    background-position: center;
    background-size: cover;

}

#background-img

.container {
    position: relative;
    border: 10px solid blue;


}

#header {
    border: 8px solid yellow;
    color: white;
}

#survey-form {
    border: 6px solid red;
    color: white;
}

.form-group {
    border: 4px solid green;
}

label {
    display: flex;
    margin: 10px 0;
}